<div class="d-flex">
  <div class="flex-fill">
    <div class="b-example-divider"></div>

    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Mision</h1>
          <p class="fs-5"> La calidad, la información, la personificación y una distinguida y amplia gama de productos
            son
            nuestra máxima prioridad para que disfrutes al máximo de tus vacaciones.Nuestro equipo cuenta con pasión y
            con
            un profundo y variado conocimiento en materia turística. Además, confiamos en las nuevas tecnologías para
            crear y preparar las mejores ofertas de viajes. Nada es más importante para nosotros que las vacaciones de
            tus
            sueños y que generes recuerdos inolvidables.</p>
          <div class="d-grid gap-2 d-md-flex justify-content-center">
          </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="./assets/img/mision.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes"
            width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    <div class="b-example-divider"></div>
  </div>
  <app-aside></app-aside>
</div>