<div class="b-example-divider"></div>

<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Razon social</h1>
            <p class="col-md-10 fs-3">Con más de 20 años en el mercado y operaciones en Argentina, Chile, Colombia y Perú, Quatar Viajes se ha destacado por su servicio, asesoría experta y personalizada, excelentes ofertas y todas las formas de pago para que todos puedan cumplir su sueño de viajar.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>