<aside class="d-flex flex-column flex-shrink-0 bg-light text-center" style="width: 4rem;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a routerLink="/inicio" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Inicio"
                data-bs-toggle="tooltip" data-bs-placement="right">
                <img src="./assets/img/ico.png" alt="" style="height:30px;">
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/mision" class="nav-link py-3 border-bottom rounded-0" aria-current="page" title="Mision"
                data-bs-toggle="tooltip" data-bs-placement="right">
                <i class="fa-solid fa-users-viewfinder d-block "></i>
            </a>
        </li>
        <li>
            <a routerLink="/vision" class="nav-link py-3 border-bottom rounded-0" title="Vision" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-solid fa-eye-low-vision d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/razonsocial" class="nav-link py-3 border-bottom rounded-0" title="Razon social" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-regular fa-building d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/quienessomos" class="nav-link py-3 border-bottom rounded-0" title="Quienes somos" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-solid fa-clipboard-user d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/servicios" class="nav-link py-3 border-bottom rounded-0" title="Servicios" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-solid fa-plane-departure d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/testimonios" class="nav-link py-3 border-bottom rounded-0" title="Testimonios" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-regular fa-comment-dots d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/contactanos" class="nav-link py-3 border-bottom rounded-0" title="Contactanos" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-regular fa-address-book d-block"></i>
            </a>
        </li>
        <li>
            <a routerLink="/login" class="nav-link py-3 border-bottom rounded-0" title="Login" data-bs-toggle="tooltip"
                data-bs-placement="right">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
        </li>
    </ul>
</aside>