<main class="">
    <div class="b-example-divider"></div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Servicios especializados</h2>

        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="d-flex flex-column align-items-start gap-2">
                <h3 class="fw-bold">Ofrecemos las mejores formas de un viaje sin preocupaciones .</h3>
                <h5 class="fw">Disfruta nos encargamos de todo!.</h5>
                <p class="fs-5">Gracias a nuestros convenios y soporte tenemos cubrimiento completo de tu viaje de
                    principio a fin .</p>
                <a href="#" class="btn btn-primary btn-lg">Primary button</a>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#collection" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0">Documentacion</h4>
                    <p class="text-muted">Nos encargamos de todos los tramites y seguros que necesites.</p>
                </div>

                <div class="d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3">
                        <svg class="" width="1em" height="1em">
                            <use xlink:href="#gear-fill" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0">Paquetes</h4>
                    <p class="text-muted">Armamos paquetes a tu medidad y comodidad.</p>
                </div>

                <div class="d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-danger bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#speedometer" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0">Sin Contratiempos</h4>
                    <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
                </div>

                <div class="d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#table" />
                        </svg>
                    </div>
                    <h4 class="fw-semibold mb-0">Calendario ajustable</h4>
                    <p class="text-muted">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-1" id="custom-cards">
        <h2 class="pb-2 border-bottom mt-4 text-center">Viajes TOP</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje9.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1"> Fuerteventura </h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje8.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Paris</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Pakistan</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje7.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Mexico</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>California</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>5d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje6.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1"> Budapest </h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje5.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Roma</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Pakistan</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje4.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Tenerife</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>California</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>5d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="b-example-divider"></div>

    <div class="container px-4 py-1 my5" id="custom-cards">
        <h2 class="pb-2 border-bottom mt-4 text-center">Viajes VIP</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje12.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1"> Agadir </h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Earth</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje11.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Punta cana</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Pakistan</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('./assets/img/viaje10.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold pb-1">Disneyland</h3>
                        <h2><br>✈️ <br>📍</h2>
                        <ul class="d-flex list-unstyled mt-auto pt-5 pb-1">
                            <li class="me-auto">
                                <img src="./assets/img/ico.png" alt="Bootstrap" width="40" height="40"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>California</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>5d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider"></div>


</main>