<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="./assets/img/quienessomos.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      <img src="" class="responsive-img">

    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Quienes somos</h1>
      <p class="fs-4"> Independientemente de si quieres bucear en Egipto, relajarte en las Islas Canarias, disfrutar de las hermosas playas del Caribe, recorrer el Mediterráneo, descubrir Asia o visitar las grandes metrópolis del mundo, Quatar viajes lo tiene todo.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-center">
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>