<div class="d-flex">
        <div class="d-flex flex-fill justify-content-center morado pb-5">
            <div class="card mt-5 ">
                <iframe width="320" height="560" src="https://www.youtube.com/embed/vUGz2jhEShk"
                    title="Testimonio Karol Liseth Almario Morea - Agencia de Viajes Mi Tierra" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>    
    <app-aside></app-aside>
</div>




