body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items:  flex-end;
    background-color: DodgerBlue;
    width: 200px;
    float:right
  }

  .flex-container > a {
    background-color: #f1f1f1;
    width: 180px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.card{
    padding: 1rem 1rem;
    border-radius: 15px;
    border: solid 3px rgba(194, 4, 4, 0.531) ;
}
iframe{
  border-radius: 12px;
}
