<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-lg-6">
        <img src="./assets/img/vision.jpg" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Vision</h1>
        <p class="lead"> No importa si deseas aprender sobre el entorno del destino al momento de reservar o simplemente como inspiración para sus futuros viajes. Además, hemos creado un blog de viajes especialmente para nuestros clientes. Cada semana encontrarás nuevos e interesantes artículos sobre diferentes destinos turísticos, su cultura, su patrimonio, lugares de interés y mucho más. Todo esto acompañado de increíbles fotografías que te darán una primera impresión sobre tu próximo destino. </p>
      </div>
    </div>
</div>

<div class="b-example-divider"></div>