
<div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="inicio" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="./assets/img/ico.png" alt="" style="height:50px;">
          <i id="ico" class="mx-2"> Qatar Viajes</i> 
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a routerLink="mision" class="nav-link text-white text-center">
              <i class="fa-solid fa-users-viewfinder d-block" ></i>
              Mision
            </a>
          </li>
          <li>
            <a routerLink="vision" class="nav-link text-white text-center">
              <i class="fa-solid fa-eye-low-vision d-block"></i>
              Vision
            </a>
          </li>
          <li>
            <a routerLink="razonsocial" class="nav-link text-white text-center">
              <i class="fa-regular fa-building d-block"></i>
              Razon Social
            </a>
          </li>
          <li>
            <a routerLink="quienessomos" class="nav-link text-white text-center">
              <i class="fa-solid fa-clipboard-user d-block"></i>
              Quienes Somos
            </a>
          </li>
          <li>
            <a routerLink="servicios" class="nav-link text-white text-center">
              <i class="fa-solid fa-plane-departure d-block"></i>
              Servicios 
            </a>
          </li>
          <li>
            <a routerLink="testimonios" class="nav-link text-white text-center">
              <i class="fa-regular fa-comment-dots d-block"></i>
              Testimonios 
            </a>
          </li>
          <li>
            <a routerLink="contactanos" class="nav-link text-white text-center">
              <i class="fa-regular fa-address-book d-block" ></i>
              Contactanos 
            </a>
          </li>

          <li>
            <a  routerLink="login" class="nav-link text-white text-center">
                <button type="button bi d-block mx-auto mb-1" class="btn btn-warning">Login</button>
            </a>
          </li>

          <li>
          </li>


        </ul>
      </div>
    </div>
  </div>